
\.DS_Store

Perchiazzi Kong\.xcodeproj/project\.xcworkspace/xcuserdata/simonegaruglieri\.xcuserdatad/UserInterfaceState\.xcuserstate

Perchiazzi Kong\.xcodeproj/xcuserdata/simonegaruglieri\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist
